<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:camel="http://camel.apache.org/schema/spring" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:amq="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring-2.14.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core-5.10.0.xsd">


	<camel:camelContext id="camel" trace="true"> <camel:routeBuilder ref="streamingRoute"/> 
		</camel:camelContext> <bean id="streamingRoute" class="com.fractal.facebooksentiment.controller.StreamingRoute"/>

	<bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent"
		depends-on="broker">
		<property name="brokerURL"
			value="vm://fbBroker?create=false&amp;waitForStart=5000" />
	</bean>
	<!-- create an ActiveMQ broker --><!-- do not use the shutdown hook as it would cause the broker to shutdown 
		when you press ctrl + c -->
	<amq:broker id="broker" useJmx="true" persistent="false"
		brokerName="fbBroker" useShutdownHook="false">
		<amq:transportConnectors>
			<amq:transportConnector name="vm" uri="vm://fbBroker" />
		</amq:transportConnectors>
	</amq:broker>

	<amq:queue id="notificationQueue" physicalName="fb-queue" />
	<amq:topic id="notificationTopic" physicalName="fb-topic" />
	<!--<amq:connectionFactory id="jmsConnectionFactory" brokerURL="tcp://localhost:61616" 
		/> -->
	<amq:connectionFactory id="jmsConnectionFactory"
		brokerURL="vm://fbBroker" />



	<bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		init-method="start" destroy-method="stop">
		<property name="maxConnections" value="6" />
		<property name="connectionFactory" ref="jmsConnectionFactory" />
	</bean>



	<!-- JmsTemplate Definition -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="pooledConnectionFactory" />
		<property name="defaultDestination" ref="notificationQueue" />

	</bean>

	<bean id="jmsMessageSender" class="com.fractal.facebooksentiment.controller.JmsMessageSender">
		<property name="jmsTemplate" ref="jmsTemplate"></property>

	</bean>

</beans>